* {
  box-sizing: border-box;
}


body {
  font-family: "Times New Roman", "Times", "serif";
  background: #fff;
  /*background-image: url("test_back_image");*/
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}


h1 {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  }


.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: index -1;
  background: #40376a;
  font-family: arial;
  color: white;
  text-indent: 10px;
}


.content-container{
  margin-top: 6%;
}
