body {
  font-family: "Times New Roman", "Times", "serif";
  background-color: #e5e5e5;
  background-image: url("test_back_image");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}


.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}



#tlbutton{
/*  max-width: 25%;
  min-width: 300px;
  max-height: 100px;
  min-height: 50px;*/
}

#timeline {
  overflow: auto;
  max-height: 500px;
  min-height: 200px;
}

.twitter-container {
  position: relative;
}

.twitter-container.box {
  overflow: none;
  background: #FAFAFA;
  background-color: #FAFAFA;
  background: -webkit-linear-gradient(#FAFAFA, #E7EEF4);
  background: -o-linear-gradient(#FAFAFA, #E7EEF4);
  background: linear-gradient(#FAFAFA, #E7EEF4);
  height: auto;
  width: 155px;
  padding: 5px;
  border: solid 1px #DCDCDC;
  border-bottom: solid 1px #98B1C7;
  font-family:  Helvetica Neue, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin-left:6px;
  margin-right:6px;
  list-style-type:none;
  padding-bottom: 9px;
  margin-bottom: 6px;
  color: #424242;
  color: #3E5E75;
  text-decoration: none;
  color: #424242;
  text-decoration : none
}


.twitter-btn-container {
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-twitter {
  float: left;
  width: 33.3333%;
  background-color: yellow;
  height: 30px;
}


#weather{
  height: 60px;
  min-width: 500px;
  max-width: 35%;
}

#dm{
  display: none;
}

#mentions{
  display: none;
}

#gmail{
  flex-grow: 3;
  min-width: 90%;
  max-width: 90%;
  margin: 0px auto;

}


.report {
  background-color: white;
 }


.box{
  word-wrap: normal,
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background: white;
  border: 1px solid black;
  margin: 10px;

  max-width: 25%;
  min-width: 300px;
  max-height: 500px;
  min-height: 200px;
  overflow: scroll;
}


/*.weather{
 word-wrap: normal;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background: white;
  border: 1px solid black;

  width: 300px;
  height: 300px;
  overflow: scroll;
}*/

.tweet{
  /*border: 1px solid black;*/
}

.message{
border: 1px solid gray;
/*margin: 1px;
*//*background: -webkit-linear-gradient(#f3f3f3, #ffffff);
*/}


