
.box{
  word-wrap: normal,
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background: white;
  border: 1px solid black;

  width: 300px;
  height: 500px;
  overflow: scroll;
}

.weather{
 word-wrap: normal;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  background: white;
  border: 1px solid black;

  width: 300px;
  height: 300px;
  overflow: scroll;
}

.tweet{
  border: 1px solid black;
}

.message{
border: 1px solid gray;
margin: 1px;
background: -webkit-linear-gradient(#f3f3f3, #ffffff);
}

/*form {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  background: #e5e5e5;
  border: 1px solid gray;
  height: 323px;
  width: 390px;
  max-width: 470px;
  padding-top: 20px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto ;
  margin-right: auto ;

  line-height: 24px;
  color: rgb(0,0,0); /*This is the font colour*/
}*/