/*// Place all the styles related to the Weather_Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

body {
  font-family: "Times New Roman", "Comic Sans MS", "serif";
  background: rgb(153,255,153);
}

.report {
  background-color: sea-green;
 }
