/*// Place all the styles related to the Weather_Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

body {
<<<<<<< HEAD
  font-family: "Times New Roman", "Times", "serif";
  background: #e5e5e5;
}
=======
  font-family: "Times New Roman", "Comic Sans MS", "serif";
>>>>>>> Gmail_Integration

    background-color: #e5e5e5;
    background-image: url("test_back_image");
    background-repeat: no-repeat;
    background-position: right top;

}
.report {
  background-color: white;
 }
