<center>

<h1>The Hub Homepage</h1>

<p>Welcome to <b>The Hub</b></p>

</center>



<%= link_to 'Authenticate with Twitter', auth_at_provider_path(:provider => :twitter) %> |

<%= link_to 'Authenticate with Instagram', auth_at_provider_path(:provider => :instagram) %> |

<%= link_to 'Authenticate with Google', auth_at_provider_path(:provider => :google) %> |
