<center>
  <div class="header">
    <h1>Settings</h1>
  </div>
</center>

<div class="settings-box">
    <div class="settings">

       <!-- Radio button and label for #setting-content2 -->
       <input type="radio" name="settings" id="setting1" checked >
       <label for="setting1" class="bar">
           Authorization
       </label>

     <!-- Radio button and label for #setting-content1 -->

       <input type="radio" name="settings" id="setting2">
       <label for="setting2" class="bar">
           Account Info
       </label>


      <div id="setting-content1" class="setting-content">
        <p id="tweet"> <%= link_to 'Connect with Twitter', auth_at_provider_path(:provider => :twitter) %></p>
        <p id="tweet"><%= link_to 'Connect with Facebook', auth_at_provider_path(:provider => :facebook) %></p>
        <p id="tweet"><%= link_to 'Connect with Google', auth_at_provider_path(:provider => :google) %></p>
      </div>


      <div id="setting-content2" class="setting-content">
        <%= render "form" %>
      </div>
    </div>
  </div>
